extends base.pug
block style 
            style
                include ../static/styles.css
block content
    .section1 
        h1 Wel-Come To Our The Great Dancer Academy
        h2 Eat Sleep Dance Repeat! 
    .section2 
        .insec 
            h1 Our Mission
            .cards
                .item 
                    h3 Dance Perfection 
                    .content 
                        img(src="../static/dp7.png", alt="img")
                        p Teach the dance very fast in our academy in very low cost
                .item 
                    h3 Dance Perfection 
                    .content 
                        img(src="../static/dp6.png", alt="img")
                        p Teach the dance very fast in our academy in very low cost
                .item 
                    h3 Dance Perfection 
                    .content 
                        img(src="../static/dp8.png", alt="img")
                        p Teach the dance very fast in our academy in very low cost
    .section3 
            h1 Our Sponsers
            .logo 
                img(src="../static/lo1.png", alt="logo")
                img(src="../static/lo2.png", alt="logo")
                img(src="../static/lo3.png", alt="logo")
                img(src="../static/lo4.png", alt="logo")               