doctype html
html 
    head 
        title Dance Web 
        style
            include ../static/styles.css
    body 
        nav#navbar 
            ul 
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Guide]
                li #[a(href="/") Contact]
        .section1 
            h1 Wel-Come To Our The Great Dancer Academy
            h2 Eat Sleep Dance Repeat! 
        .section2 
            .insec 
                h1 Our Mission
                .cards
                    .item 
                        h3 Dance Perfection 
                        .content 
                            img(src="../static/dp7.png", alt="img")
                            p Teach the dance very fast in our academy in very low cost
                    .item 
                        h3 Dance Perfection 
                        .content 
                            img(src="../static/dp6.png", alt="img")
                            p Teach the dance very fast in our academy in very low cost
                    .item 
                        h3 Dance Perfection 
                        .content 
                            img(src="../static/dp8.png", alt="img")
                            p Teach the dance very fast in our academy in very low cost
        .section3 
             h1 Our Sponsers
             .logo 
                img(src="../static/lo1.png", alt="logo")
                img(src="../static/lo2.png", alt="logo")
                img(src="../static/lo3.png", alt="logo")
                img(src="../static/lo4.png", alt="logo")
        footer Copyright @ 2022 abhidanceacademy.com | All right reserve
